{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true
    }
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(json|css|jpg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm)$"
    ],
    "import/extensions": [".js"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json"]
      },
      "alias": {
        "map": [
          ["src", "./src/client"],
          ["Components", "./src/client/components"]
        ]
      }
    }
  },
  "globals": {
    "NODE_ENV": "readonly",
    "window": "readonly",
    "document": "readonly",
    "localStorage": "readonly",
    "FormData": "readonly",
    "FileReader": "readonly",
    "Blob": "readonly",
    "navigator": "readonly"
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-lone-blocks": 0,
    "no-param-reassign": 0,
    "react/sort-comp": 0,
    "react/jsx-props-no-spreading": 0,
    "no-console": "off",
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "quote-props": 0,
    "import/prefer-default-export": 0,
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.js"] }],
    "class-methods-use-this": 0,
    "arrow-body-style": 0,
    "react/default-props-match-prop-types": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "operator-linebreak": ["error", "after"],
    "react/jsx-one-expression-per-line": 0
  }
}
