@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}
